<div class="contents">  
  <div class="contents-title">タイトル: <%= movie.title%></div>
  <div class="contents-movie">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= movie.url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="contents-text">
    <span>動画の説明<%= simple_format(movie.text) %></span>
  </div>
  <div class="contents-edit">
    <%= link_to '詳細を見る', "/movies/#{movie.id}", method: :get %>
    <% if user_signed_in? && current_user.id == movie.user_id %>
      <%= link_to '編集する', "/movies/#{movie.id}/edit", method: :get %>
      <%= link_to '削除する', "/movies/#{movie.id}", method: :delete %>
    <% end %>
    <% if user_signed_in? %>
      <% if movie.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
        <p><span>お気に入りから解除<%=link_to movie.favorites.count, movie_favorites_path(movie.id), method: :delete %></p>
      <% else %>
        <p><span>お気に入り登録する</span><%=link_to movie.favorites.count, movie_favorites_path(movie.id), method: :post %></p>
      <% end %>
    <% end %>
  </div>
</div>