<!DOCTYPE html>
<html>
  <head>
    <title>マインドフルネス動画集</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
    <header class="header">
      <div class="notifications">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: key) %>
        <% end %>
      <script>
        $(function(){
          $(".notifications").fadeOut(5000);
        });
      </script>
      </div>
    <div class="header__bar row">
      <h2 class="grid-6"><a href="/">マインドフルネス動画集 TOPへ</a></h2>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <span>ユーザー名<br /><%= current_user.nickname %>
          <ul class="user__info">
            <li>
              <%= link_to "お気に入り", "/users/#{current_user.id}" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
          </span>
          <% if user_signed_in? %>
            <%= link_to  "投稿", "/movies/new", class: "post" %>
          <% end %>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>
    </div>
  </header>

    <%= yield %>

    <footer>
      <p>
        <%= link_to "TOPにもどる", "/" %>
      </p>
      <p>
        マインドフルネス動画集
      </p>
    </footer>
  </body>
</html>